.container div {
    margin: 10px 0 0 0;
  }

  @media (min-width:768px) {
    .flex-rows {
      display: flex;
      justify-content: space-between;
    }
  }

  .boxes {
    border-top: 1px solid #aaaaaa;
    padding: 15px 15px 0 15px;
  }

  .box_1,
  .box_2 {
    flex-basis: 100%;
  }

  .box_3,
  .box_4,
  .box_5 {
    flex-basis: 33.3%;
  }

  .box_6,
  .box_7 {
    flex-basis: 49.4%;
  }

  .box_8 {
    flex-basis: 45%;
  }

  .box_9,
  .box_10 {
    flex-basis: 26.2%;
  }

  /* Box Content */

  .boxes a {
    color: #000;
    text-decoration: none;
  }

  .boxes img {
    border-radius: 1px;
    box-shadow: 5px 10px 12px rgba(170, 170, 170, 0.8);
    width: 100%;
  }

  .boxes h3 {
    margin-top: 0;
  }

  .boxes p {
    margin-bottom: 12px;
  }

  .boxes div {
    margin: 10px 0 0 0;
  }